<div class="container mt-3">
  <h1>Login</h1>
  <hr />
  <div class="row">
    <div class="col-4">
      <form action="" [formGroup]="loginForm" (submit)="submitHandler()">
        <div class="form-group">
          <label for="">Email Id</label>
          <input type="email" class="form-control" formControlName="emailId" />
        </div>
        <div class="form-group">
          <label for="">Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
        </div>
        <span class="d-block text-danger" *ngIf="showError">{{
          errorMessage
        }}</span>
        <input
          type="submit"
          value="Login"
          class="btn btn-success mt-2"
          [disabled]="this.loginForm.invalid == true"
        />
      </form>
      <div class="d-flex mt-1 align-items-center">
        <span class="grey-line"> </span>
        <span class="font-italic font-weight-light text-muted"> Or </span>
        <span class="grey-line"> </span>
      </div>
      <div class="mt-2">
        <button class="btn btn-primary w-100" (click)="loginWithGoogle()">
          Login with Google
        </button>
      </div>
      <div class="mt-2">
        <button class="btn btn-primary w-100" (click)="loginWithFacebook()">Login with Facebook</button>
      </div>
    </div>
  </div>
</div>
